{% extends 'base.html' %}
{% load static %}
{% block head %}
Posts App
{% endblock %}

{% block body %}
<nav>
        <div class="nav-wrapper teal lighten-2">
            <a href="#" class="brand-logo">&nbsp;Votes App</a>

        </div>
    </nav>

{% for post in posts %}
<br />
<div class="row" style="margin-left:400px">
    <div class="col s12 m6 ">
        <div class="card row">
            <div class="card-content black-text">
                <span class="card-title">{{ votes.lastname }}</span>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}-"
